.tag-active {
    background-color: rgb(37 99 235); /* bg-blue-600 */
    color: white;
    border-color: rgb(59 130 246 / 0.5); /* border-blue-500/50 */
    transform: scale(1.05);
    box-shadow: 0 10px 15px -3px rgb(30 58 138 / 0.4); /* shadow-blue-900/40 */
}

article {
  transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.aspect-\[16\/10\] {
  aspect-ratio: 16 / 10;
}
